---
import { Image } from "astro:assets";

const { imageSrc } = Astro.props;
const { title } = Astro.props;
const { href } = Astro.props;
const { transitionName } = Astro.props;
---

<!-- HTML comments supported! -->{/* JS comment syntax is also valid! */}

<a
  href={href}
  class="transition-all [&>.image]:hover:-translate-y-2 [&>.image]:hover:shadow-2xl [&>.image]:active:scale-95"
>
  <div
    transition:name={`${transitionName}-header-img`}
    class="image mb-3 flex aspect-video w-full items-center justify-center overflow-hidden rounded-xl bg-white shadow-lg duration-500"
  >
    <Image
      class="w-full rounded-xl bg-zinc-800 object-cover transition-all duration-500"
      src={imageSrc}
      alt=""
      width={200}
      height={200}
    />
  </div>
  <div
    class="ml-2 text-lg font-bold text-zinc-800"
    transition:name={`${transitionName}-title`}
  >
    {title}
  </div>
</a>
