---
import { Image } from "astro:assets";

const { image } = Astro.props;
const { title } = Astro.props;
const { href } = Astro.props;
const { transitionName } = Astro.props;
---

<!-- HTML comments supported! -->{/* JS comment syntax is also valid! */}

<a
  href={href}
  class="transition-all [&>.image]:hover:-translate-y-2 [&>.image]:hover:shadow-2xl [&>.image]:active:scale-95"
>
  <div
    class="image bg-white rounded-xl duration-500 flex items-center justify-center overflow-hidden object-cover w-full aspect-video shadow-lg mb-3"
  >
    <Image
      transition:name={`${transitionName}-header-img`}
      class="transition-all duration-500"
      src={image}
      alt=""
    />
  </div>
  <div
    class="text-lg font-bold ml-2 text-zinc-800"
    transition:name={`${transitionName}-title`}
  >
    {title}
  </div>
</a>
